<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Gano</th>
            <th>Perdio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jugador of listaTodosLosJugadores">
            <td>{{ jugador.email }}</td>
            <td>{{ jugador.gano }}</td>
            <td>{{ jugador.perdio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
