<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6">
          <!-- Form -->
          <form [formGroup]="loginForm"
                (ngSubmit)="onLogin()">
              <h1>Bienvenido al formulario de LOGIN</h1>
              <p class="description">Debe estar Logueado para poder utilizar los juegos</p>
              <!-- Input fields -->
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text"
                         class="form-control email"
                         id="email"
                         placeholder="Email..."
                         name="email"
                         autocomplete="off"
                         formControlName="email"
                         [(ngModel)]="email">
              </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password"
                         class="form-control password"
                         id="password"
                         placeholder="Password..."
                         name="password"
                         autocomplete="off"
                         formControlName="password"
                         [(ngModel)]="password">
              </div>
              <button type="submit"
                      class="btn btn-primary btn-customized">Login</button>

              <p class="description">Ya tenes una cuenta? <a href="#" [routerLink]="['/Registro']">REGISTRATE ACA</a></p>
          </form>
          <div class="text-center">
            <button type="#"
                    class="ml-4 btn btn-warning"
                    (click)="llenarCampos()">Click para LOGIN con Usuario Ejemplo</button>
          </div>
          <!-- Form end -->
      </div>
  </div>
</div>
