<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6">
          <!-- Form -->
          <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
              <h1>Bienvenido al formulario de LOGIN</h1>
              <p class="description">Debe estar Logueado para poder utilizar los juegos</p>
              <!-- Input fields -->
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" class="form-control email" id="email" placeholder="Email..." name="email" autocomplete="off" formControlName="email">
              </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control password" id="password" placeholder="Password..." name="password" autocomplete="off" formControlName="password">
              </div>
              <button type="submit" class="btn btn-primary btn-customized">Login</button>

              <p class="description">Ya tenes una cuenta? <a href="#" [routerLink]="['/Registro']">REGISTRATE ACA</a></p>
          </form>
          <!-- Form end -->
      </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row d-flex flex">
    <div class="col bg-primary justify-content-center">
      <div class="card text-center mt-5"  style="width: 30%;">
        <div class="card-header">
          Login
        </div>
        <div class="card-text">
          <form>
            <div class="form-group mt-2">
              <label for="">Email address</label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                placeholder="Ingrese Email">
            </div>
            <div class="form-group mt-2">
              <label for="">Password</label>
              <input type="password" class="form-control" name="clave" id="" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
