<div class="container" style="max-width: 50%;">
  <div class="row text-center">
    <div class="col">
      <button type="button" class="btn btn-outline-info my-5" [routerLink]="['/Juegos']">
        <i class="fas fa-arrow-left"></i>
        Volver
      </button>
    </div>
  </div>
  <div class="row flex d-flex flex-column">
    <div class="col bg-primary text-center" style="border-radius: 15px;">
      <form>
        <div class="form-group" style="padding-top: 10px;">
          <label for="palabraIngresadaInput" class="text-white">Ingresar la palabra ordenada</label>
          <input type="text" class="form-control" placeholder="Ingresar aqui" autocomplete="off"
            name="palabraIngresadaInput" [(ngModel)]="palabraIngresada">
          <button type="button" class="btn btn-warning mt-3" (click)="verificar()">Prueba</button>
        </div>
      </form>
      <div class="col text-white pb-3" style="font-size: large;" *ngIf="palabraIngresada">
        {{'Palabra Ingresada: ' + palabraIngresada }}
      </div>
    </div>

    <div class="row">
      {{'Palabra Mezclada: ' + palabraSecretaMezclada }}
    </div>
    <!-- <div class="row">
      {{'Palabra Secreta: ' + palabraSecreta }}
    </div> -->
  </div>
</div>


<!-- <div class="form-group centered">
  <input type="text" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese numero"
    name="numeroIngresado" type="number" class="form-control" style="width:50%" autocomplete="off">
</div> -->
